body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("media/reversedheroimg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-group {
	padding: 10% 2% 8% 2%;
	position: relative;
	text-align: center;
}
  
.hero-group img {
	max-width: 100%;
	height: auto;
	animation: floatIn 1s ease-in-out;
	margin-bottom: 20px;

}

#Hero-Section a{
    color: white;
}

#Hero-Section nav{
    padding-right: 2%;
}


.Media-Section{
    width: 95%;
    text-align: center;
}

#screenshotlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

#screenshotlist li {
    display: inline-block;
    padding: 2px;
    padding-bottom: 1%;
    text-align: center;
    
}